
/* selector {
    property: value;
} */




html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




/* GRID LAYOUT AND STYLING *******************************************************************************************************************************/
.gridcontainer {
    display: grid;
    grid-template: 
        'header header header header' 100vh
        'aside main main main' auto
        'aside main main main' auto
        'footer footer footer footer' 70vh / 2em 70% 1fr 1fr ;
/* dont change to fr units (1st one is fine) as it conflicts with portfolio containers and skills containers */
/* tiny fr was used in order to fix problems arising from  huge resolutions in the portfolio container */
/* auto used to stop gap appearing on right side of browser  */
}

.header {
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.774);
    background-image: url(../images/pexels-photo-988872.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    /* position: sticky;
    top: 0%; */
}

.aside {
    grid-area: aside ;
    position: sticky;
    top: 0%;
    height: 100vh;
    /* guide to viewports or vh https://web-design-weekly.com/2014/11/18/viewport-units-vw-vh-vmin-vmax/ (vmax and other v values too) */
    padding-right: 0vw;
    padding-left: 0;
    transition: width 0.5s ease-out, background-image 250ms ease-in-out ;
    width: 2em;
    z-index: 3;
    background: url(../images/bg2.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    /* above gives the side bar more life...somehow */
    /* background: #ff6b6c; */
}
        .aside:hover {
            grid-area: aside;
            position: sticky;
            top: 0%;
            transition: width 0.5s ease-out, background-image 250ms ease-in-out;
            z-index: 3;
            width: 17em;
            overflow: auto;
            height: 100vh;
            background-image: url(../images/pexels-photo-149988.jpeg);
            background-position: 50% 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }

.main {
    grid-area: main;
    background-color: rgba(255, 255, 255, 0.171);
    z-index: 0;
    color: white;
    position: relative;
    padding-left: 10%;
    padding-right: 10%
}

.footer {
    grid-area: footer;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    background-image: url(../images/pexels-photo-988872.jpeg);
    background-size: cover;
}
/* GRID LAYOUT AND STYLING END************************************************************************************************************************** */




/* TITLE AND NAVBAR STYLING***************************************************************************************************************************** */
.mainHeading {
    /* font-size: 4.6875rem; */
    font-size: 10vw;
    mix-blend-mode: exclusion;
    color: white;
    letter-spacing: 1.25rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    position: sticky;
    padding-top: 35vh;
    font-family: 'Tinos', serif;
}
/* NOTE HOW IT BECAME A STICKY!!!  */


/* sidebar style */
nav ul li {
    font-size: 1.25rem;
    list-style-type: none;
    padding: 3.25rem 0 0 0;
    overflow: hidden;
}
ul {
    /* padding: 0 0 0 22px; */
    padding: 0 0 0 0.3em;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    color: #ff6b6c;
    transition: 350ms;
}
nav ul li a:active {
    color: #ffc145;
    transition: 0 
}
nav ul li a:link {
    color: white;
}
/* TITLE AND NAVBAR STYLING END************************************************************************************************************************* */




/* ARTICLE STYLE**************************************************************************************************************************************** */
.headerarticle:first-child {
    padding: 0.5em 0.5em ;
}
.headerarticle {
    font-size: 3.125rem;
    font-family: 'Tinos', serif;
    text-align: center;
    padding: 5em 0em 1em 0;
}

.article {
    padding: 0 1.5625rem 0 1.5625rem;
    font-size: 1.0625rem;
    font-family: 'Quicksand', sans-serif;
}

p {
    margin-top: 0%;
}
/* ARTICLE STYLE END************************************************************************************************************************************ */




/* HTML CSS and JAVA logo's***************************************************************************************************************************** */
    /* .skillsContainer {
        display: grid;
        gap: 5%;
        justify-items: center;
        grid-template: 'htmlLogoContainer cssLogoContainer javaLogoContainer' 12.5rem / 1fr 1fr 1fr;
    }
        .htmlLogoContainer {
            grid-area: htmlLogoContainer;
        }
        .cssLogoContainer {
            grid-area: cssLogoContainer;
        }
        .javaLogoContainer {
            grid-area: javaLogoContainer;
        } */
/* justify items and align items apply respectively centers the items horizontaly and vertically but mostly evenly amongst the grid  */
/* justify content and align content instead tends to move the content as a collective, thus keeping its rowgap and column gap */
/* justify self and align self applies above to only a specific block within a grid */
/* Notes link: https://alligator.io/css/align-justify/ */
.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}





/* LOGO STYLE END*************************************************************************************************************************************** */




/* portfolioFOLIO CONTAINER AND STYLING********************************************************************************************************************** */
    /* Below code should be able to be done via the [transform: scale();] selector but at the cost of losing some specialities that the grid offers */
/* .portfolioContainer {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 6.25rem;
    grid-template: 
        'portfolio1 portfolio2 portfolio3 portfolio4' 12.5rem
        'portfolio5 portfolio6 portfolio7 portfolio8' 12.5rem / 25% 25% 25% 25%; */
        /* dont use fr as the other boxes move when one box is expanded */
/* use alt and mouse to add code to below items simultaneously */

.portfolioContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
}

    .portfolio1 {
        grid-area: portfolio1;
        position: relative;
        width: 10rem;
        height: 10rem;
        background-color: black;
        z-index: 5;
        transition-property: width, height;
        transition-duration: 250ms;
        transition-timing-function: linear;
        border: solid 0.625rem white;

    }
    .portfolio2 {
        grid-area: portfolio2;
        position: relative;
        width: 10rem;
        height: 10rem;
        background-color: rgb(53, 45, 45);
        z-index: 5;
        transition-property: width, height;
        transition-duration: 250ms;
        transition-timing-function: linear;
        border: solid 0.625rem white;

    }
    .portfolio3 {
        grid-area: portfolio3;
        position: relative;
        width: 10rem;
        height: 10rem;
        background-color: rgb(87, 71, 71);
        z-index: 5;
        transition-property: width, height;
        transition-duration: 250ms;
        transition-timing-function: linear;
        border: solid 0.625rem white;

    }
    .portfolio4 {
        grid-area: portfolio4;
        position: relative;
        width: 10rem;
        height: 10rem;
        background-color: rgb(117, 76, 76);
        z-index: 5;
        transition-property: width, height;
        transition-duration: 250ms;
        transition-timing-function: linear;
        border: solid 0.625rem white;

    }
    .portfolio5 {
        grid-area: portfolio5;
        position: relative;
        width: 10rem;
        height: 10rem;
        background-color: rgb(59, 49, 49);
        z-index: 5;
        transition-property: width, height;
        transition-duration: 250ms;
        transition-timing-function: linear;
        border: solid 0.625rem white;

    }
    .portfolio6 {
        grid-area: portfolio6;
        position: relative;
        width: 10rem;
        height: 10rem;
        background-color: rgb(116, 71, 71);
        z-index: 5;
        transition-property: width, height;
        transition-duration: 250ms;
        transition-timing-function: linear;
        border: solid 0.625rem white;

    }
    .portfolio7 {
        grid-area: portfolio7;
        position: relative;
        width: 10rem;
        height: 10rem;
        background-color: rgb(138, 68, 68);
        z-index: 5;
        transition-property: width, height;
        transition-duration: 250ms;
        transition-timing-function: linear;
        border: solid 0.625rem white;

    }
    .portfolio8 {
        grid-area: portfolio8;
        position: relative;
        width: 10rem;
        height: 10rem;
        background-color: rgb(199, 43, 43);
        z-index: 5;
        transition-property: width, height;
        transition-duration: 250ms;
        transition-timing-function: linear;
        border: solid 0.625rem white;

    }
    /* PORTFOLIO STYLE AND CONTAINER END**************************************************************************************************************** */



    /* contact details grid start*********************************************************************************************************************** */
     .container-contact_details {
        display:grid;
        grid-template: 
            'contact_details1 contact_details2' 3.125rem
            'contact_details3 contact_details4' 3.125rem / 1fr 1fr;
    } 
    .container_contact_details1 {
        grid-area: contact_details1;
        text-align: left;
        font-size: 1.125rem;
        color: #0f2e4a;
    }
    .container_contact_details2 {
        grid-area: contact_details2;
        text-align: left;
        font-size: 1.125rem;
        color: #0f2e4a;
    }
    .container_contact_details3{
        grid-area: contact_details3;
        text-align: left;
        font-size: 1.125rem;
        color: #0f2e4a;
    }
    .container_contact_details4 {
        grid-area: contact_details4;
        text-align: left;
        font-size: 1.125rem;
        color: #0f2e4a;
    } 
    /* container details grid end*********************************************************************************************************************** */
/* WORK TO STILL DO AND IDEA BIN */

/* use linkind */
/* optimalization for picture (its too big and takes too much space) */
/* try to get more shorthand techiques to make code shorter and therefore easier navigate and research acceptable css layouts (such as having the css code next to each other inline style) */
/* put necessary items in flexbox such as skills logos */
/* implement dropdowns instead of resizing the portfolio icons https://www.w3schools.com/css/css_dropdowns.asp */
/* use the animate feature tomorrow, looks pretty neat on Toyers page */
/* new bug found exclusive to the github page where the TITLE doesnt text wrap properly (or rather not at all) */
/* add sass logo */
/* add sort of bibliography for pexels */
/* add midsection to make less bland. Mid section consists of background changes or images */
/* need to comment better */
/* get back into pixel art for our icons */
/* icons on navbar disappear at extreme zoom outs  */
/* give each heading a section in the html (semantics) and also give each one a its own background image as to make it more interesting and less blue (literally) */
/* buy ssd and put Linux on it. I need to figure out if I can boot it from a different internal drive without going into the bios constantly */
/* use g zip or something similar if we do end up using our own server */
/* incorporate some hr */
/* have multiple backgrounds maybe? */


    /* design to my understanding revolves around two methods or ways of doing(?)
        1) making a robust website that requires minimal resposive design
        2) making a more specialized website that requires special repo design to function but looks better for the most part.
    with mindsets to code below:
        1) using massive amounts of code to achieve an effect
        2) using minimal code to achieve a big effect
    Note how A distinct pair is made among 1 and 1, 2 and 2. 
    I dont fully understand my own observations but as time progresses I do wish to explore these concepts more and to flesh them out. */