body {
    margin: 0;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* grid layout and styling */
.gridcontainer {
    display: grid;
    row-gap: 3.125rem;
    column-gap: 10% ;
    grid-template-columns: 1% 45% 25% 5%;
    grid-template-rows: auto auto auto 3.125rem;
    grid-template-areas: 
        'header header header header'
        'aside main main blank'
        'aside main main blank'
        'footer footer footer footer'
}
.header {
    grid-area: header;
    background-color: rgb(0, 0, 0); 
}
.aside {
    grid-area: aside;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0%;
    height:80%;
    width: 120%
}
.aside:hover {
    grid-area: aside;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0%;
    height:80%;
    width: 1100%;
    transition: width 0.5s ease-out;
}
.main {
    grid-area: main;
    background-color: #fff;
}
.footer {
    grid-area: footer;
    background-color: rgb(0, 128, 128);
    z-index: 2;
}




/* heading style */
.mainHeading {
    font-size: 4.6875rem;
    color: aliceblue;
}

nav ul li {
    font-size: 1.875rem;
    list-style-type: none;
    padding: 6.25rem 0 0 0;
    overflow: hidden;
}
ul {
    padding: 0 0 0 1.375rem;;
}
a {
    text-decoration: none;
    color: rgb(34, 101, 160);
}
.headerarticle {
    font-size: 2.625rem;
}
.article {
    padding: 0 1.25rem 0 2.5rem;
    font-size: 1.0625rem;
}